# --- BACKEND CONFIG ---
PORT=8000
NODE_ENV=local

# --- GEMINI API ---
# Take your credentials here: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=your_gemini_api_key_here

# --- GMAIL (NODEMAILER) ---
# Take your credentials here: https://myaccount.google.com/apppasswords
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

# --- DATABASE (TURSO / SQLITE) ---
DATABASE_URL=libsql://your_database_url.aws-eu-west-1.turso.io
DATABASE_AUTH_TOKEN=your_turso_token_here

# --- FRONTEND CONFIG ---
NEXT_PUBLIC_API_URL=http://localhost:8000
